body {
    padding: 0;
    margin-top: 2rem;
    font-family: "Roboto", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-size: 1.75rem;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sliders-container {
    display: grid;
    width: 90%;
    margin-bottom: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "c_radius n_terms n_terms c_speed";
}

.sliders-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#n_terms {
    width: 90%;
    grid-area: n_terms;
}

#n_terms p {
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
}

#c_radius {
    grid-area: c_radius;
}

#options {
    grid-area: c_speed;
}

.waves-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "waves custom custom options"
        "equation custom custom options";
}

.equation {
    grid-area: equation;
}

.waves {
    grid-area: waves;
}

.custom {
    grid-area: custom;
}

.options {
    grid-area: options;
}

.text-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "text btn";
}

.text-btn p {
    grid-area: text;
    margin-bottom: 1rem;
}

.text-btn button {
    grid-area: btn;
    font-size: 1.3rem;
}

#set-preset {
    padding: 0 1.5rem 0;
    margin-left: 1rem;
}

.title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-decoration: underline;
}

.custom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "custom-curves calc-curves";
}

#custom-curves {
    grid-area: custom-curves;
}

.calc-curves {
    grid-area: calc-curves;
}

.field-wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "text input";
}

.field-wrapper p {
    grid-area: text;
}

.field-wrapper input {
    grid-area: input;
}

#custom-curves button {
    width: 100%;
}

.control-arrows {
    position: relative;
    width: 3.6em;
    height: 3.6em;
}

.control-arrows::before,
.control-arrows::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2.6em;
    height: .5em;
    border-radius: .25em;
    background-color: #000;
    -webkit-transition: all .15s ease, background-color .8s ease;
    transition: all .15s ease, background-color .8s ease;
    -webkit-transform-origin: .2em 50%;
    transform-origin: .2em 50%;
    will-change: transform;
}

.control-arrows::before {
    -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
    transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
}

.control-arrows::after {
    -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
    transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
}

.control-arrows:hover::before,
.control-arrows:active::before {
    -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(40deg);
    transform: translateX(0.5em) translateY(1.55em) rotate(40deg);
}

.control-arrows:hover::after,
.control-arrows:active::after {
    -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(-40deg);
    transform: translateX(0.5em) translateY(1.55em) rotate(-40deg);
}

.control-arrows.left::before,
.control-arrows.left::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2.6em;
    height: .5em;
    border-radius: .25em;
    background-color: currentColor;
    -webkit-transition: all .15s ease, background-color .8s ease;
    transition: all .15s ease, background-color .8s ease;
    -webkit-transform-origin: .2em 50%;
    transform-origin: .2em 50%;
    will-change: transform;
}

.control-arrows.left::before {
    -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
    transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
}

.control-arrows.left::after {
    -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
    transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
}

.control-arrows.left:hover::before,
.control-arrows.left:active::before {
    -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(40deg);
    transform: translateX(0.5em) translateY(1.55em) rotate(40deg);
}

.control-arrows.left:hover::after,
.control-arrows.left:active::after {
    -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(-40deg);
    transform: translateX(0.5em) translateY(1.55em) rotate(-40deg);
}

.control-arrows.right {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.control-arrows.hover,
.control-arrows.right.hover {
    top: 50%;
    left: 100%;
    position: absolute;
    translate: -100%;
}

#wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#view-1 {
    width: 100%;
    height: 100%;
    position: fixed;
}

#view-2 {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}