body {
    padding: 0;
    margin-top: 2rem;
    font-family: "Roboto", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-size: 1.75rem;
}

/*  CSS For Github Corner   */
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sliders-container {
    display: grid;
    width: 90%;
    margin-bottom: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "c_radius n_terms n_terms c_speed";
}

.sliders-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#n_terms {
    width: 90%;
    grid-area: n_terms;
}

#n_terms p {
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
}

#c_radius {
    grid-area: c_radius;
}

#options {
    grid-area: c_speed;
}

.waves-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "waves custom custom options"
        "equation custom custom options";
}

.equation {
    grid-area: equation;
}

.waves {
    grid-area: waves;
}

.custom {
    grid-area: custom;
}

.options {
    grid-area: options;
}

.text-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "text btn";
}

.text-btn p {
    grid-area: text;
    margin-bottom: 1rem;
}

.text-btn button {
    grid-area: btn;
    font-size: 1.3rem;
}

#set-preset {
    padding: 0 1.5rem 0;
    margin-left: 1rem;
}

.title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-decoration: underline;
}

.custom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "custom-curves calc-curves";
}

#custom-curves {
    grid-area: custom-curves;
}

.calc-curves {
    grid-area: calc-curves;
}

.field-wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "text input";
}

.field-wrapper p {
    grid-area: text;
}

.field-wrapper input {
    grid-area: input;
}

#custom-curves button {
    width: 100%;
}

/*
 *  Adapted from
 *  ("slides.com" / revealjs)'s Control Arrows
 */
.control-arrows {
    position: relative;
    width: 3.6em;
    height: 3.6em;
}

.control-arrows::before,
.control-arrows::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2.6em;
    height: .5em;
    border-radius: .25em;
    background-color: #000;
    -webkit-transition: all .15s ease, background-color .8s ease;
    transition: all .15s ease, background-color .8s ease;
    -webkit-transform-origin: .2em 50%;
    transform-origin: .2em 50%;
    will-change: transform;
}

.control-arrows::before {
    -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
    transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
}

.control-arrows::after {
    -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
    transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
}

.control-arrows:hover::before,
.control-arrows:active::before {
    -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(40deg);
    transform: translateX(0.5em) translateY(1.55em) rotate(40deg);
}

.control-arrows:hover::after,
.control-arrows:active::after {
    -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(-40deg);
    transform: translateX(0.5em) translateY(1.55em) rotate(-40deg);
}

.control-arrows,
.control-arrows.right {
    top: 50%;
    left: 100%;
    position: absolute;
}

.control-arrows {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
}

.control-arrows.right {
    -webkit-transform: translate(-100%) rotate(180deg);
    transform: translate(-100%) rotate(180deg);
}

/*
 *  Adapted from
 *  "https://stackoverflow.com/a/5028650/12216623"
 */
#wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 41px;
}

#view-1 {
    width: 100%;
    height: 100%;
    position: fixed;
}

#view-2 {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

#switch-container {
    width: 320px;
    height: 30px;
    margin: auto;
    position: fixed;
    border-radius: 6px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    text-align: center;
}

.inner-container {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: .2em;
}

.inner-container:first-child {
    background: #e9e9e9;
    color: #a9a9a9;
}

.inner-container:nth-child(2) {
    background: dodgerblue;
    color: white;
    clip-path: inset(0 50% 0 0);
    transition: .3s cubic-bezier(0, 0, 0, 1);
}

.toggle {
    width: 50%;
    position: absolute;
    height: inherit;
    display: flex;
    box-sizing: border-box;
}

.toggle p {
    margin: auto;
    font-size: 1.2rem;
    font-family: 'Asap', sans-serif;
}

.toggle:nth-child(1) {
    right: 0;
}

#ftransform {
    width: 100%;
    height: 100%;
    display: none;
    margin-top: 41px;
}

.ft-sketches {
    width: 90%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 25% 25%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "ft-ampSketch ft-phaseSketch";
}

#ft-ampSketch {
    grid-area: ft-ampSketch;
}

#ft-phaseSketch {
    grid-area: ft-phaseSketch;
}

.ft-sketches {
    grid-template-columns: 1fr 1fr;
}

.ft-options {
    width: 90%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "ft-equation dft-equation upload-path gen-noise";
}

.ft-equation {
    grid-area: ft-equation;
}

.dft-equation {
    grid-area: dft-equation;
}

.upload-path {
    grid-area: upload-path;
    margin-right: 2rem;
}

.gen-noise {
    grid-area: gen-noise;
}

.ft-title {
    text-decoration: underline;
    margin-bottom: 1.5rem;
}

#ft-set-path {
    margin-bottom: 0rem;
}

/*
 *  Adapted from "WTF, forms?"
 *  http://wtfforms.com
 */
.file {
    position: relative;
    display: block;
    cursor: pointer;
    height: 2.5rem;
    margin-bottom: 2.5rem;
}

.file input {
    min-width: 14rem;
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
}

.file-custom {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: .075rem solid #ddd;
    border-radius: .25rem;
    box-shadow: inset 0 .2rem .4rem rgba(0, 0, 0, .05);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.file-custom:after {
    content: attr(data-text);
}

.file-custom:before {
    position: absolute;
    top: -.075rem;
    right: -.075rem;
    bottom: -.075rem;
    z-index: 6;
    display: block;
    content: "Browse";
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #555;
    background-color: #eee;
    border: .075rem solid #ddd;
    border-radius: 0 .25rem .25rem 0;
}

/* Focus */
.file input:focus~.file-custom {
    box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}

.go-back {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    padding-left: 15px;
    position: absolute;
    top: 5px;
    left: 15px;
    text-decoration: none;
}

.go-back::before,
.go-back::after {
    content: "";
    display: block;
    top: 7px;
    left: 0px;
    position: absolute;
    transition: left 0.1s;
}

.go-back::before {
    border-color: #000;
    border-style: solid;
    border-width: 0 0 2px 2px;
    height: 6px;
    margin-top: -3px;
    width: 6px;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.go-back::after {
    background: #000;
    height: 2px;
    width: 11px;
}

.go-back:hover::before,
.go-back:hover::after {
    left: -3px;
}